<footer class="footer">
    <nav>
        <a href="https://landchad.net" target="_blank">
          <img src="https://i.imgur.com/N3cevyM.gif" target="_blank" alt="landchad.net">
        </a>
        <a href="https://wiby.me" target="_blank">
          <img src="https://i.imgur.com/mbkseEq.gif" target="_blank" alt="wiby.me">
        </a>
        <a href="https://sadgrl.online/" target="_blank">
          <img src="https://i.imgur.com/yqxnpzo.gif">
        </a>
        <a href="https://nuange.neocities.org/" target="_blank">
          <img src="https://i.imgur.com/9jSEO19.gif" alt="nuange.neocities.org">
        </a>
        <a href="http://www.hat.net/abs/noclick/" ><img src="http://www.hat.net/abs/gif/noclick.gif" alt="[Don't click here!]" ></a>
      </nav><br>
    © {{ now.Format "2006" }} {{ .Site.Params.author }},
    <a href="https://creativecommons.org/licenses/by/4.0/" class="footerLink"><u>Creative Commons Attribution 4.0 International License</u></a>
</footer>